<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css',_external=True) }}">
    <title>Internal Server Error</title>
  </head>
  <body>
    <div class="overlay"></div>
    <div class="terminal">
      <h1>Error <span class="errorcode">500</span></h1>
      <p class="output">Something bad has happened</ü>
      <p class="output">Please try again later</p>
      <p class="output">Good luck</p>
    </div>

  </body>
</html>
