{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="http://www.salmanhaydar.com" target='_blank'>Salman Haydar</a>
</div>
<ul class="nav navbar-nav">
  <li class="active"><a href="{{ url_for('index',_external=True) }}">Home</a></li>
  <li><a href="https://github.com/SalmanHaydar/text_summarizer" target="_blank">Github</a></li>
</ul>
</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <h4><strong>Note: This app only works for Bengali Documents</strong></h4>
  {% block page_content %}
    {{ wtf.quick_form(form) }}
  {% endblock %}
  </div>
</div>
{% endblock %}
